POSTGRES_DB=kaldi_db
POSTGRES_USER=kaldi
POSTGRES_PASSWORD=kaldi123
POSTGRES_HOST_PORT=5432

KC_BOOTSTRAP_ADMIN_USERNAME=admin
KC_BOOTSTRAP_ADMIN_PASSWORD=admin

# Must match keycloak/kaldi-realm.json
KEYCLOAK_REALM=kaldi
KEYCLOAK_CLIENT_ID=quarkus-app
KEYCLOAK_CLIENT_SECRET=secret
KEYCLOAK_HOST_PORT=8081

KALDI_API_HOST_PORT=8080
